<!DOCTYPE html>
<html lang="en">
<head>
	<link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{styles}}
</head>
<body>
	<div class="content">
        <div class="title-sec-index">
            <div class="logo">
				<img src="https://i.ibb.co/h1MSWN9/ABLY-Logo-Primary-3x.png" alt="Ably logo.png" border="0" style="width: 1em"/>
				<p class="title-name"> Ab.ly </p>
            </div>
			<h1>Save your current HTML <br> for accessibility analysis.</h1>
			<h2>Learn more about web content accessibility <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">here</a>.</h2>
        </div>
    </div>
</body>
</html>