<!DOCTYPE html>
<html lang="en">
<head>
	<link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{styles}}
</head>
<body>
	<div class="content">
        <div class="title-sec-index">
            <div class="logo">
            <img src="https://i.ibb.co/h1MSWN9/ABLY-Logo-Primary-3x.png" alt="Ably logo.png" border="0" style="width: 1em"/>
                <p class="title-name"> Ab.ly </p>
            </div>
            <h1> Loading Results <br> for <b>{{htmlChecked}}</b>...</h1>
        </div>
		<div class="loader"></div>
    </div>
</body>
</html>